<!-- Title -->

<h1>
  List of Products

  <!-- Button to add all products -->

    <button class="btn btn-dark" onclick="window.location='/dashboard/products/add'">
      <i class="fas fa-plus"></i> New Product
    </button>

  <!-- Button to sync all products -->
  <button class="btn btn-outline-dark" onclick="updateProducts()">
    <i class="fas fa-sync" id="sync-icon"></i> Sync All
  </button>
</h1>

<!-- Products navbar using bootstrap -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- List of navgiation -->
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/products">All Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/products/instock">In stock</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/products/outofstock"
            >Out of stock</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/products/pricechanged"
            >Price changed</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/products/backinstock"
            >Back in stock</a
          >
        </li>
      </ul>

      <!-- Search form -->
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
  </nav>

  <!-- Products navbar end -->

  <!-- List of Products shown -->

  <div class="table-contianer">
    <table class="table" id="list-products">
      <thead>
        <tr>
          <th>SKU</th>
          <th>Title</th>
          <th>Price</th>
          <th>Inventory</th>
          <th>URL</th>
          <th>Delete</th>
        </tr>
      </thead>

      <!-- tbody to be filled using ajax -->
      <tbody class="content"></tbody>
    </table>
</div>
  <!-- Success message -->
  <div class="success text-success"></div> 

  <!-- Error message -->
  <div class="error text-danger"></div>
</div>