/* Global Styles */

h1 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 30px;
}

del {
  color: #ccc;
}

@media (min-width: 640px) {
  td,
  th {
    word-wrap: break-word;
    max-width: 200px;
  }
}

@media (max-width: 640px) {
  table,
  table td,
  table tr,
  table th {
    display: block;
    text-align: left;
  }

  table tr {
    margin-bottom: 60px;
  }

  table th,
  table td {
    margin: 0;
    padding-left: 25px;
  }
  table td {
    display: list-item;
    list-style: none;
    padding-left: 0;
  }
  table thead {
    display: none;
  }
}

/* Products */

#save-product-container {
  margin-top: 50px;
}

/* Login Page */

#login-body {
  background-color: #16191b;
  color: #fff;
}

.login-box {
  max-width: 500px;
  margin: 20vh auto;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.login-box-head {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #343a40;
  color: #fff;
  font-size: 30px;
  padding: 30px 10px;
}

.login-box-body {
  padding: 10px;
  background-color: #343a40;
  border-radius: 1px solid #ccc;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.login-box-body h2 {
  margin-top: 10px;
}

/* Dashboard homepage */
.card-font-size b {
  font-size: 30px;
}

/* Fade In animation */
.fade-in-fast {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

.fade-in-medium {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

.fade-in-slow {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
