<%- include('../partials/header') -%>

<div class="container">
  <!-- List of products include -->
  <%- include('../partials/products-list') -%>

  <script>
    getAllProducts(); //get all products and update dom
  </script>

  <%- include('../partials/footer') -%>
</div>
