<%- include('../partials/header') -%>

<div class="container">
  <%- include('../partials/products-list') -%>

  <script>
    getOutOfStock(); // get out of stock product and update dom
  </script>

  <%- include('../partials/footer') -%>
</div>
