<%- include('../partials/header') -%>

<div class="container">
  <%- include('../partials/products-list') -%>

  <script>
    getPriceChanged();
  </script>

  <%- include('../partials/footer') -%>
</div>
